/*CSS*/

/*Aqui eu declarei quem vai receber essas formatações*/

/*Tags*/


/*Classes*/
.col-12{

    background-color: rgb(80, 80, 80);
    
}

a
{
    text-align: center;

}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    

    a
        {
            text-align: center;

        }
    }